[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
pysqlite3 = "*"
pandas = "*"
konlpy = "*"
wordcloud = "*"
numpy = "*"
matplotlib = "*"
krwordrank = "*"
kiwipiepy = "*"

[requires]
python_version = "3.8"
